@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  display: block;
  border: solid thin gray;
  border-radius: .33rem;
  width: 100%;
  padding: 3px 10px;
  color: black;
}

input[type="date"] {
  width: auto;
}

label {
  font-size: 0.875rem;
  margin: 0.3rem auto;
  display: inline-block;
  font-weight: 500;
}

ul,
ol {
  list-style: inside none;
}

li {
  margin: 1rem;
}

.btn-paypal-center,#btn-epayco{
  display: flex;
  justify-content: center;
}

